extends /config/template
append config
  -pageTitle = 'Quien Soy'
  -pageDescription = 'Esta pagina describe mis proyectos'
  -pageImage = ''

block main
  include /includes/main-menu
  h1 Hola soy Gabriel
  p Un desarrollador frontend
